@import "~bulma/sass/utilities/initial-variables";

// Config vars
$catharsis-blue: #72dec1;
$grey-darkest: #101010;

$primary: $black;
$link: rgba(
  $color: $catharsis-blue,
  $alpha: 0.8
);
$link-hover: $catharsis-blue;
$info: $catharsis-blue;
$text: $white;

$background: $primary;

$footer-background-color: $grey-darkest;

$hr-background-color: $grey-dark;

// Navbar config

$navbar-breakpoint: 450px;
$navbar-dropdown-item-hover-color: $white;
$navbar-background-color: $grey-darkest;
$navbar-dropdown-background-color: $grey-darker;
$navbar-item-color: $white;
$navbar-item-hover-background-color: $black;
$navbar-item-active-color: $white;
$navbar-dropdown-border-top: 2px solid $black;

@import "~bulma";

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $catharsis-blue;
    font-family: "Alpha Echo";
  }
}

%title-style {
  text-transform: uppercase;
  font-weight: bold;
}

html {
  background-color: #000;
}

.title,
.subtitle {
  font-family: "Alpha Echo";
}

.navbar-item {
  @extend %title-style;

  @media screen and (max-width: 550px) {
    font-size: 0.9rem;
  }
}

button.navbar-burger {
  background: transparent;
  border: none;
  width: auto;

  @media screen and (max-width: $navbar-breakpoint) {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  p {
    margin-right: -0.25rem;
    @extend %title-style;
  }

  .burger {
    margin-top: 2px;
    width: 3.25rem;
  }
}

.hero {
  background-color: #000;
  background: url("/img/isolated-model.jpg") bottom center;
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .attribution {
    @extend %title-style;
    font-size: 0.7rem;
    text-align: right;
    padding: 5px;
    padding-bottom: 1.5rem;
    opacity: 0.8;
  }

  .compound-header {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-size: 6vw;

    @media screen and (min-width: 800px) {
      font-size: 3rem;
    }

    .title {
      color: $catharsis-blue;
      text-align: justify;
      font-size: 2em;
      flex-shrink: 1;
    }

    .subtitle {
      color: $white;
      flex-shrink: 1;
      font-size: 1em;

      &:first-child {
        text-align: left;
        align-self: flex-start;
      }
      &:last-child {
        text-align: right;
        align-self: flex-end;
      }
    }
  }
}

.footer {
  p {
    font-size: 0.75rem;
  }
}
